*{box-sizing: border-box;}

/* Google Font */

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

.na_title{
    font-weight: 800;
    font-size: 45px;
}
/* Shared Color */
.primary_color{
    color: #FD6E0A;
}
/* Color Name */
.Dark_one{
    color: #474747;
}
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
/* Shared Button */
.btn_primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 18px 35px;
    font-size: 18px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.out_line_picture{
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav ul{
    display: flex;
    align-items: center;
    
}
.banner_greetins{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
    
}

.banner_content{
    max-width: 580px;
}
.font_description{
    font-size: 18px;
    color: #474747;
}
.banaer_pro_picture{
    width: 580px;
}